services:
  message:
    build: .
    ports:
      - "8080:8080"
    environment:
      # Override your application.yml mongo uri
      SPRING_DATA_MONGODB_URI: mongodb://mongo:27017/message_db

      ENCRYPTION_SERVICE_BASE_URL: http://encryption:8082/encryption
      NOTIFICATION_SERVICE_BASE_URL: http://notification:8085
      PRESENCE_SERVICE_BASE_URL: http://presence:8081/presence
    networks:
      - chat-net
    depends_on:
      - mongo

  mongo:
    image: mongo:7
    ports:
      - "27017:27017"
    volumes:
      - message_mongo_data:/data/db
    networks:
      - chat-net

volumes:
  message_mongo_data:

networks:
  chat-net:
    external: true
